body{
    font-family: Helvetica, sans-serif;
}
h1{
    font-size: 45px;
    background-color: #ffbc0d;
    border-radius: 20px;
    font-weight: bolder;
}
h2{
    background-color: #ffbc0d;
    width: 40%;
    border-radius: 30px;
    padding: 12px;
    text-align: center;
    margin: auto;
    font-size: 25px;

}
p{
    font-size: 18px;
}
fieldset{
    width: 60%;
    box-shadow: 5px 5px 15px 1px gray;
    border: none;
    border-radius: 20px;
    margin: auto;
    padding-top: 10px;
}
label.information{
    padding: 20px 100px 10px 200px;
    display: inline-block;
    width: 190px;
    font-weight: bolder;
    font-size: 18px;
}
input.information, input[type="text"]{
    padding: 10px 5px;
    width: 250px;
    text-align: left;
    display: inline-block;
}
input[type="reset"],input[type="submit"]{
    padding: 10px;
    border-radius: 30px;
    background-color: #ffbc0d;
    font-size: 20px;
    width: 200px;
}
input.Quantity{
    width: 50px;
    padding: 7px;
}
img.Logo{
    vertical-align: middle;
    width: 100px;
    background-color: #ffbc0d;
}
textarea.information{
    padding: 10px;
    height: 110px;
    width: 540px;
    display: block;
    margin-left: 200px;
    margin-right: auto;
    resize: none;
}
label.Feedback{
    font-weight: bolder;
    font-size: 18px;
    padding-left: 30px;
}
textarea.Feedback{
    resize: none;
    height: 150px;
    width: 500px;
}